<h2>Lista degli Studenti <button (click)="addNewStudent()"> + </button></h2>

<p *ngIf="!students"><em>Attendere prego...</em></p>

<div class="student-home">
    <div class="students-list" *ngIf="students">
        <div *ngFor="let stud of students"
            [class.selected]="stud === selectedStudent"
            (click)="onSelect(stud)"
             
             >
            <span class="badge">{{stud.id || '-' }}</span> {{stud.name}} {{stud.surname}} <span>{{stud.hasChanges?'*':''}}</span><span class="badge" style="float: right;" (click)="Delete(stud.id)">Elimina</span>
        </div>
    </div>
    <div *ngIf="selectedStudent" class="student-detail">
        <h2 *ngIf="selectedStudent.id > 0">{{selectedStudent.name}} ({{selectedStudent.id}})</h2>
        <h2 *ngIf="!selectedStudent.id">Nuovo Studente</h2>
        <div>
            <label>Nome: </label>
            <input [(ngModel)]="selectedStudent.name" placeholder="name" />
        </div>
        <div>
            <label>Cognome: </label>
            <input [(ngModel)]="selectedStudent.surname" placeholder="surname" />
        </div>
        <div>
            <label>Data di Nascita: </label>
            <input type="datetime-local" [(ngModel)]="selectedStudent.dateOfBirth" placeholder="birth" />
        </div>
        <div>
            <label>Luogo di Nascita: </label>
            <input [(ngModel)]="selectedStudent.birthPlace" placeholder="birthPlace" />
        </div>
        <div>
            <label>Matricola: </label>
            <input [(ngModel)]="selectedStudent.numeroMatricola" placeholder="numero Matricola" />
        </div>
    </div>
</div>

<div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" (click)="saveChanges()">
    <span class='glyphicon glyphicon-floppy-disk'></span>
</div>